.chat-section{
    overflow-y: scroll;
    background-color: #F5F5F5;
    color: black;
    padding-top: 1%;
    height: 760px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-self: center;
    align-items: center;
    border-radius: 8px 8px 0 0;
  }

  .message-from-user{
    background-color: #0EBEBE;
    justify-self: flex-end;
    border-radius: 25px 0 25px 25px;
    padding: 0 1rem 0 1rem;
    min-width: fit-content;
    min-height: 50px;
    margin-bottom: 5%;
    margin-right: 2%;
    text-align: end;
  }
  
  .message-from-other{
    background-color: #D6D6D6;
    justify-self: flex-start;
    border-radius: 0 25px 25px 25px;
    min-width: fit-content;
    min-height: 50px;
    margin-bottom: 5%;
    margin-left: 2%;
    text-align: start;
    padding: 0 1rem 0 1rem;
  }
  
  .expense-from-user{
    background-color: #F4E04D;
    justify-self: flex-end;
    border-radius: 25px 0 25px 25px;
    width: 95%;
    min-height: 4rem;
    margin-bottom: 5%;
    margin-right: 2%;
    border-style: solid;
    border: color(srgb red green blue);
    transition: transform 0.3s ease;
  }
  .expense-from-user:hover{
    transform: scale(1.03);
    cursor: pointer;
  }
  
  .expense-from-other{
    background-color: #F4E04D;
    justify-self: flex-start;
    border-radius: 0 25px 25px 25px;
    width: 95%;
    min-height: 4rem;
    margin-bottom: 5%;
    margin-left: 2%;
    border-style: solid;
    border: color(srgb red green blue);

  }
  
  .amount{
    font-size: 1.5rem;
    font-weight: bold;
  }

  .grid-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .message-and-send{
    display: grid;
    grid-template-columns: 90% 10%;
    background-color: #F5F5F5;
    border-radius: 0 0 8px 8px;
    border-top: solid;
    border-color: black;
  }
  
  .chat-input{
    width: 98%;
    justify-self: flex-start;
    margin: 0;
    background-color: #F5F5F5;
    color: black;
    border-radius: 0 0 0 8px;
    outline: none;
    border: none;
    height: 2.5rem;
    font-size: large;
  }

  .send-button{
    padding: 0;
    border-radius: 0 0 8px 0;
    font-size: large;
    font-weight: bold;
  }

  .group-name{
    transition: transform 0.3s ease;
  }

  .group-name:hover{
    transform: scale(1.1);
    cursor: pointer;
  }

  .settings-modal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
