.group-card{
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-radius: 25px;
    background-color: #FCFCFC;
    width: 25rem;
    transition: transform 0.3s ease;
    margin: 2rem;
    justify-self: center;
}
.group-card:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.background-div{
    background-image: url("https://media1.thehungryjpeg.com/thumbs2/ori_3745126_4pm9g3aozttnxbb3pwzc9j3sghgrxn1ax5jh76wy_dollar-coins-falling-down-vector-flat-cartoon-gold-coin-illustration-finance-coin-design-currency-isolated.jpg");
    background-size: cover;
    border-radius: 25px 25px 0 0;
}
.negative{
    color: red;
}
.positive{
    color: #25E485;
}