.group-card{
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-radius: 25px;
    background-color: #FCFCFC;
    width: 25rem;
    transition: transform 0.3s ease;
    margin: 2rem;
    justify-self: center;
}
.group-card:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.background-div{
    background-image: url("../../../public/gatekeeper.png");
    background-size: contain;
    border-radius: 25px 25px 0 0;
}
.negative{
    color: red;
}
.positive{
    color: #25E485;
}